* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.headerGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.icon {
    width: 22px;
    margin-right: 25px;
}

.user {
    margin-right: 25px;

}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;

    li {
        list-style: none;
    }
}

.arabic {
    font-weight: 600;
    color: rgb(3, 97, 123);
}

.formsGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    gap: 20px;
}

select {
    width: 20%;
    height: 34px;
    border-radius: 10px;
    padding: 6px 25px;
    position: relative;
}

.location {
    position: absolute;
    margin-left: 4px;
}

.searchG {
    width: 100%;
    position: relative;


}

input {
    width: 100%;
    height: 34px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.search {
    position: absolute;
    right: 3px;
    margin: 3px;
}

button {
    padding: 10px 45px;
    border-radius: 6px;
    background-color: rgb(3, 97, 123);
    color: white;
    border: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 50px;
    gap: 15px;
}

.hom {
    color: rgb(180, 179, 179);
    font-weight: 700;
}

.abo {
    color: #0f4d68;
    font-weight: 700;

}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
}

.images {
    width: 300px;
}

h1 {
    font-size: 50px;
    margin: 20px 0px;
    color: #063143;
}

.paragraph {
    width: 70%;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    gap: 40px;
}

.card {
    width: 240px;
    border-radius: 15px;
    padding: 20px;
    margin: 50px 0px;
    text-align: center;
    border: 2px solid #0f4d68;
}

.active {
    background-color: #0f4d68;

    .number,
    .quote {
        color: white;
    }
}

.number {
    font-size: 25px;
    font-weight: 800;
    color: #0f4d68;
    margin: 10px 0px;
}

.quote {
    color: #0f4d68;
}

.big {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    gap: 40px;
    margin: 25px auto;
}

.card-info {
    border-radius: 15px;
    padding: 15px 10px;
    text-align: center;
    position: relative;
    background-color: rgb(188, 185, 185);

}

.img {
    width: 250px;

    .person {
        width: 100%;
    }
}

.data {
    width: 250px;
    position: absolute;
    bottom: 30px;
    background-color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px;
    background-color: #0f4d68;
    color: white;
}

.header,
.ul {
    margin: 25px 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f4d68;
    border-top: 2px solid rgb(232, 230, 230);
    text-align: center;
    gap: 30px;
    color: white;
    padding: 20px;
}
.circles{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 25px;
font-size: 10px;

}
.icons-footer i {
    margin: 0px 10px;
}